@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Have a better idea? Submit your favorite restaurant here.";
}

<!--This page will gather the the data for user submissions-->

@model Assignment_4.Models.FoodResponse

<!--Here I utilize a form. These will all be free-response types, no drop-downs.
    It will coordinate with the post method in the home controller-->
<form asp-action="SubmissionForm" method="post">
    <div class="text-center">
        <label asp-for="Name">Your Name:</label>
        <input asp-for="Name" />
    </div>

    <div class="text-center">
        <label asp-for="RestaurantName">Favorite Restaurant:</label>
        <input asp-for="RestaurantName" />
    </div>

    <div class="text-center">
        <label asp-for="FavoriteDish">Favorite Dish:</label>
        <input asp-for="FavoriteDish" />
    </div>

    <div class="text-center">
        <label asp-for="RestaurantPhone">Restaurant Phone #:</label>
        <input asp-for="RestaurantPhone" />
    </div>

    <!--The creation of the submit button as well as the necessary code to 
        implement validation as found in the food response view-->
    <div class="text-center">
        <button class="btn-info" type="submit" value="Calculate" id="submitButton">Submit</button>
    </div>
    <div asp-validation-summary="All"></div>

</form>